@import "./colors.css";
@import "./fonts.css";

/* Global styles */
:root {
  background: url("../../public/images/BG_1.jpg");
  background-size: cover;
  background-position: center;
}

/* .app-bar {
  background-color: var(--black-color);
  border-radius: 10px;
  width: 98%;
  left: 50%;
  transform: translateX(-50%);
  top: 24px;
  position: fixed;
  z-index: 1000;
}

.global-header {
  font-size: 40px;
  font-weight: 700;
  color: var(--off-white-color);
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "AccentFont";
}

.app-bar a {
  text-decoration: none;
  color: inherit;
}

.app-bar .toolbar {
  justify-content: center;
}

.content {
  max-width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  align-content: center;
  box-sizing: border-box;
} */
