@import "./colors.css";
@import "./fonts.css";

.container {
  max-width: 5000px;
  padding: 24px;
  background-color: transparent;
  border-radius: 10px;
}

.subheading {
  font-size: 40px;
  font-weight: 500;
  color: var(--off-white-color);
  font-family: "AccentFont";
  margin-bottom: 16px;
}

.typography {
  font-size: 24px;
  color: var(--off-white-color);
  font-family: "TextFont";
}

.highlight {
  font-size: 24px;
  color: var(--accent-color);
  font-family: "TextFont";
  text-decoration: none;
}

.button {
  font-family: "ButtonFont";
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.button.outlined {
  color: var(--accent-color);
  background-color: transparent;
  border: 1px solid var(--accent-color);
}

.button.outlined:hover {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  color: var(--off-white-color);
  box-shadow: 0 0 10px var(--accent-color);
}
