@import "./colors.css";
@import "./fonts.css";

.container {
  max-width: 5000px;
  padding: 24px;
  background-color: transparent;
  border-radius: 10px;
}

.subheading {
  font-size: 40px;
  font-weight: 500;
  color: var(--off-white-color);
  font-family: "AccentFont";
  margin-bottom: 32px;
  margin-top: 40px;
}

.typography {
  font-size: 24px;
  color: var(--off-white-color);
  font-family: "TextFont";
}

.clickable-highlight {
  font-size: 24px;
  color: var(--accent-color);
  font-family: "TextFont";
  text-decoration: none;
  cursor: pointer;
}

.clickable-highlight:hover {
  text-shadow: 0 0 10px var(--accent-color);
  transition: text-shadow 0.3s ease;
}

.error {
  font-size: 24px;
  color: var(--error-color);
  font-family: "TextFont";
}

.button {
  font-family: "ButtonFont";
  font-size: larger;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.button.contained {
  color: var(--off-white-color);
  background-color: var(--accent-color);
  border: none;
}

.button.contained:hover {
  /* background-color: var(--darker-accent-color); */
  box-shadow: 0 0 15px var(--accent-color);
  transition: box-shadow 0.3s ease;
}

/* Default styles for text fields and labels */
.text-field .MuiOutlinedInput-root {
  border-color: var(--off-white-color);
  transition: border-color 0.3s ease;
}

.text-field .MuiOutlinedInput-notchedOutline {
  border-color: var(--off-white-color);
}

.text-field .MuiInputLabel-root {
  color: var(--off-white-color);
  font-family: "TextFont";
  font-size: large;
}

/* Styles for hovered text fields */
.text-field .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: var(--darker-accent-color);
  transition: border-color 0.3s ease;
}

.text-field:hover .MuiInputLabel-root {
  color: var(--darker-accent-color);
}

/* Styles for focused text fields and labels */
.text-field
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: var(--accent-color);
  transition: border-color 0.3s ease;
}

.text-field .MuiInputLabel-root.Mui-focused {
  color: var(--accent-color);
}
